* :not(mat-icon) {
    font-family: Poppins, sans-serif;
}

.container {
    // max-width: 80%;
    height: 90vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    // justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 22px;
}

.body {
    width: 100%;
}

.newDoc {
    justify-content: center;
    display: flex;
}

.header {
    font-weight: 400;
    font-size: 25px;
    height: 45px;
}

.addImages {
    padding: 15px;
    background-color: #f8faf4;
    color: #D06A3E;
    max-width: 80%;
    margin: 12px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    cursor: pointer;
    width: 90%;
}

.eachFile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 80px;
    width: 48%;

    .card {
        width: 100%;
        height: 100%;

        img,
        mat-card img {
            object-fit: contain;
            width: 100%;
            height: 90px;
        }

        mat-card-content {
            margin-bottom: 0px;
            margin-top: 30px;
        }

        mat-card-actions {
            display: flex;
            justify-content: flex-end;

            mat-icon-button {
                font-size: 24px;
                width: 24px;
                height: 24px;
                line-height: 24px;
            }
        }

    }


    mat-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
        line-height: 24px;
    }

}

.card {
    box-shadow: none;
    border: 1px solid #cacaca;
    border-radius: 15px;

}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 50px;
}

.docList {
    display: flex;
    width: 100%;
    gap: 15px;
    padding: 15px;
    flex-wrap: wrap;
}

.textoverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-width: 80%;
    font-size: 17px;
    text-align: justify;
    margin: 5px;
    margin-right: 25px;


}

.textoverflow.show {

    white-space: normal;
    font-size: 17px;
    line-height: 17px;

}

.mandateimage {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #D06A3E;
}