<img class="image" src="../../../assets/trianglif.png" alt="background">

<mat-toolbar color="primary">
  Stock Management System
  <!-- <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
      />
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container> -->

  <button mat-button routerLink="">
    <mat-icon>home</mat-icon>
    Home
  </button>

</mat-toolbar>

<div class="form-container mat-elevation-z5">
  <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
  <div class="container">
    <h1>Login</h1>
    <form (ngSubmit)="login(form, $event)" #form="ngForm" autocomplete="off">
      <mat-form-field>
        <input matInput type="text" placeholder="Email address" id="email" name="email" [(ngModel)]="user.email"
          [required]="true" pattern=".+@.+\..+" #email="ngModel" />
        <mat-error *ngIf="email?.errors?.['required']">
          Email address is required
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" id="password" name="password"
          placeholder="Enter your Password" [(ngModel)]="user.password" [required]="true" minlength="6"
          #password="ngModel" />
        <mat-error *ngIf="password?.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
      <div class="center margin-top">
        <button class="btn" [disabled]="isSubmitting" class="button" type="submit" mat-raised-button
          color="primary">Login</button>
      </div>
      <span class="center margin-top">New to our platform? <a class="sign-up-link" routerLink="/register"> Sign
          up!</a></span>
    </form>
  </div>
</div>