:host ::ng-deep .mat-mdc-card {
  padding: 20px;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #eceff1 !important;
}

.mt-3 {
  width: 100%;
  height: 42px !important;
}

.form-container h1 {
  font-weight: 500;
}

.form-container {
  display: block;
  max-width: 350px;
  margin: auto;
  z-index: 999;
  position: relative;
  background: #eceff1;
  padding: 28px;
  border-radius: 16px;


}

mat-form-field {
  width: 100%;
  margin-top: 7px;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}

mat-toolbar {
  justify-content: space-between;
  margin-bottom: 80px;
  position: relative;
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
}