<!-- <img class="image" src="../../../assets/trianglif.png" alt="background">

<mat-toolbar color="primary">
  Stock Management System


  <button mat-button routerLink="">
    <mat-icon>home</mat-icon>
    Home
  </button>

</mat-toolbar>

<div class="form-container mat-elevation-z5">
  <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
  <div class="container">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm, $event)">
      <mat-form-field>
        <input matInput placeholder="Email address *" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required']">
          Email address is required
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password *" formControlName="password" />
        <mat-error *ngIf="password?.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
      <div class="center margin-top">
        <button class="btn" type="submit" [disabled]="isSubmitting" mat-raised-button color="primary">Login</button>
      </div>
      <span class="center margin-top">New to our platform? <a class="sign-up-link" routerLink="/auth/register"> Sign
          up!</a></span>
    </form>
  </div>
</div> -->
<img class="image" src="../../../../../assets/trianglif.png" alt="background">

<mat-toolbar color="primary">
  Stock Management System


  <button mat-button routerLink="">
    <mat-icon>home</mat-icon>
    <!-- <i class="material-icons md-24">home</i> -->
    Home
  </button>

</mat-toolbar>

<div class="form-container mat-elevation-z5">
  <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
  <div class="container">
    <h1>Login</h1>      

<form (ngSubmit)="login(form, $event)" #form="ngForm" autocomplete="off">
    <ul>
        <li>
            <label for="email"> Email*</label>
            <input type="text" placeholder="Enter your Email address" id="email" name="email"
                [(ngModel)]="user.email" [required]="true" pattern=".+@.+\..+" #email="ngModel">
        </li>

        <li>
            <mat-error *ngIf="email.invalid && (email.touched || email.dirty)">
               Email address is required!
            </mat-error>
        </li>
        <li>
            <label for="password"> Password* </label>
            <input type="password" id="password" name="password" placeholder="Enter your Password"
                [(ngModel)]="user.password" [required]="true" #password="ngModel" minlength="6"
                validatePassword="password" required>
        </li>
        <li>
            <mat-error *ngIf="password.invalid && (password.touched || password.dirty)">
                Password is required!
            </mat-error>

        </li>

    </ul>
    <div class="signup__button ">
        <button mat-raised-button [disabled]="isSubmitting" class="button"
            style="background-color: #3f51b5;font-weight: 400;font-size: 18px;" type="submit">Login</button>
    </div>

</form>

<mat-divider></mat-divider>
<div class="text-center" style="margin: 10px auto;">
    <span>New to our platform? <a class="sign-up-link" routerLink="/auth/register" style="color: #3f51b5;" > Sign
        up!</a></span>
    <!-- <a style="color: #3f51b5;" routerLink="/auth/businessregister">Not a member? Register</a> -->
</div>
</div>

</div>
