* :not(mat-icon){
    font-family: 'Poppins', sans-serif;

}
.container{
    margin: 10px auto;
    height: 100%;
    width: 100%;
    color: black !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #92B179;
    height: 10%;
    max-height: 35px;
    padding: 6px;
    h4{
        margin-bottom: 0;
    }

}
.body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    min-height: 60px;
    padding: 6px;
    p{
        margin-bottom: 0;
    }
}
.footer{
    height: 5px !important;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #9BB75D !important;
}
::ng-deep .mat-progress-bar-buffer {
    background-color: #ffffff !important;
}