
<img class="image" src="../../../assets/trianglif.png" alt="background">
<mat-toolbar color="primary">
    Stock Management System
    <button mat-button routerLink="/login">
        <mat-icon>login</mat-icon>
        Login
    </button>

</mat-toolbar>

<div class="form-container mat-elevation-z5">
    <h1>Sign Up a New User!</h1>
    <form  #form="ngForm" (ngSubmit)="register(form, $event)">
        <mat-form-field>
            <input matInput type="text" placeholder="Name"   id="displayName" name="displayName"
            [(ngModel)]="user.displayName"/>
        
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Email address"   id="email" name="email"
            [(ngModel)]="user.email" />
         
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password"  id="password" name="password" [(ngModel)]="user.password"/>
          
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password"  id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword"/>
         
        </mat-form-field>
        <mat-error *ngIf="form.errors?.['passwordsDontMatch']">
            Passwords should match
        </mat-error>
        <div class="center margin-top">
            <button class="btn" type="submit" mat-raised-button color="primary">Sign Up!</button>
        </div>
        <a class="center margin-top sign-up-link" routerLink="/auth/login"> Already have an account?</a>
    </form>
</div>