<h2 style="font-weight: 700; padding: 20px;" color="primary">Supplier Information</h2>
<mat-card class="m-3">

    <mat-card-title class="pb-2">
        Supplier Name : <b>{{name}}</b>
    </mat-card-title>
    <mat-divider></mat-divider>

    <div class="row pt-3">
        <div class="col-md-6">
            <mat-card-content>
                <span> Product : </span> {{product}} <br><br>
                <span> Purchase Date : </span> {{purdate}} <br><br>
                <span> Quantity : </span> {{quantity}} <br><br>
                <span> Comments : </span> {{comments}} <br><br>
            </mat-card-content>
        </div>
        <div class="col-md-6">
            <mat-card-content>

                <span> Amount : </span> {{amount}} <br><br>
                <span> Mobile : </span> {{mobile}} <br><br>
                <span> Status : </span> {{available}} <br><br>
            </mat-card-content>
        </div>
    </div>
</mat-card>
<div style="justify-content: space-between;" mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
</div>