.mat-mdc-dialog-content {
    width: 870px;
}

.mat-mdc-form-field {
    width: 320px;
}

.mat-grid-tile-content {
    text-align: center;
}

.mat-icon {
    transform: translateX(-16px);
}

:host ::ng-deep.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    margin-left: 20px;
}

.mat-mdc-grid-list {
    overflow: hidden;
}

.mat-mdc-radio-button {
    margin-right: 15px;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

// :host ::ng-deep .mdc-text-field .mdc-floating-label {
//     transform: translateY(0%);
// }
.inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:host ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 97%;
}