<h2 mat-dialog-title> {{ tittle }} </h2>
<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="form">

    <mat-grid-list cols="2">

        <mat-grid-tile>
            <div>
                <mat-form-field>
                    <mat-label>Supplier Name</mat-label>
                    <input matInput placeholder="Ex. SKN Traders" formControlName="name" required>
                    <mat-error
                        *ngIf="form.get('name')?.invalid || form.get('name')?.dirty || form.get('name')?.touched">Enter
                        full
                        name</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Mobile number : </mat-label>
                    <input matInput placeholder="9865452152" formControlName="mobile" required>
                    <mat-error
                        *ngIf="form.get('mobile')?.invalid || form.get('mobile')?.dirty || form.get('mobile')?.touched">Enter
                        valid mobile number</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Product</mat-label>
                    <input matInput placeholder="ex. Rice" formControlName="product" required>
                    <mat-error
                        *ngIf="form.get('product')?.invalid || form.get('product')?.dirty || form.get('product')?.touched">This
                        Field is Required! </mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>

                <mat-form-field>
                    <mat-label>Purchase Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="purdate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="form.get('purdate')?.invalid || form.get('purdate')?.dirty || form.get('purdate')?.touched">Choose
                        valid birthdate</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput placeholder="ex. 20kg" formControlName="quantity" required>
                    <mat-error
                        *ngIf="form.get('quantity')?.invalid || form.get('quantity')?.dirty || form.get('quantity')?.touched">Enter
                        valid qualification </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="ex. 500" formControlName="amount" required>
                    <mat-error
                        *ngIf="form.get('amount')?.invalid || form.get('amount')?.dirty || form.get('amount')?.touched">Enter
                        valid qualification </mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>

    </mat-grid-list>

</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="cancelAdd()">Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="addSupplier()" [disabled]="form.invalid">
        {{buttonName}} </button>
</div>