<div class="body">
    <img class="homegif" src="./../../../assets/appelements/loader.gif" alt="Home Gif" width="300" height="300">
    <!-- <h4 style="margin-bottom: 0;color: #fff;">{{myInput}}</h4> -->
    <div class="loaderanimation">
        <div class="text">
            <h3>{{myInput}}</h3>
        </div>
        <div class="dotClass">
            <div class="dot" style="--i:0"></div>
            <div class="dot" style="--i:1"></div>
            <div class="dot" style="--i:2"></div>
        </div>
    </div>
</div>
