<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list class="content">
      <a mat-list-item routerLinkActive="active" routerLink="supplier">
        <mat-icon>inventory_2</mat-icon>Supplier</a>
      <a mat-list-item routerLinkActive="active" href="#">Link 2</a>
      <a mat-list-item routerLinkActive="active" (click)="logOut()">Sign out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Stock Management System</span>

      <ng-container *ngIf="user$ | async as user; else loginButton">
        <button mat-button>
          <img width="30" height="30" class="profile-image-toolbar"
            [src]="user.photoURL ?? '../../../assets/image-placeholder.png'" />
          {{ user.displayName }}
          <mat-icon>expand_more</mat-icon>
        </button></ng-container>
      <ng-template #loginButton>
        <button mat-button routerLink="login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>


    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>