<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>


    <!-- Sidebar user -->
    <div class="app-user">
      <div class="app-user-photo">
        <img src="../../../../assets/face-7.jpg" class="mat-elevation-z1" alt="" />
      </div>
      <div class="ml-16">
        <span class="app-user-name mb-4">
          Watson Joyce
        </span>
        <!-- Small buttons -->
        <div class="app-user-controls">
          <button class="text-muted" mat-icon-button mat-xs-button [matMenuTriggerFor]="appUserMenu">
            <mat-icon>settings</mat-icon>
          </button>
          <button class="text-muted" mat-icon-button mat-xs-button matTooltip="Inbox" routerLink="#">
            <mat-icon>email</mat-icon>
          </button>
          <button class="text-muted" mat-icon-button mat-xs-button matTooltip="Sign Out" (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
          <mat-menu #appUserMenu="matMenu">
            <button mat-menu-item routerLink="#">
              <mat-icon>account_box</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item routerLink="#">
              <mat-icon>settings</mat-icon>
              <span>Account Settings</span>
            </button>
            <button mat-menu-item routerLink="#">
              <mat-icon>date_range</mat-icon>
              <span>Calendar</span>
            </button>
            <button mat-menu-item (click)="logOut()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>


    <mat-nav-list class="content">
      <a mat-list-item routerLink="dashboard">
        <mat-icon>grid_view</mat-icon>Dashboard</a>
      <a mat-list-item routerLinkActive="active" routerLink="dashboard/suppliertab">
        <mat-icon>inventory_2</mat-icon>Supplier</a>
      <a mat-list-item routerLinkActive="active" routerLink="product">
        <mat-icon>category</mat-icon>Products</a>
      <a mat-list-item routerLinkActive="active" (click)="logOut()">Sign out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Stock Management System</span>

      <ng-container *ngIf="user$ | async as user; else loginButton">
        <button mat-button [matMenuTriggerFor]="appUserMenu">
          <mat-menu #appUserMenu="matMenu">
            <button mat-menu-item routerLink="#">
              <mat-icon>account_box</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item routerLink="#">
              <mat-icon>settings</mat-icon>
              <span>Account Settings</span>
            </button>
            <button mat-menu-item routerLink="#">
              <mat-icon>date_range</mat-icon>
              <span>Calendar</span>
            </button>
            <button mat-menu-item (click)="logOut()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
          <img width="30" height="30" class="profile-image-toolbar"
            [src]="user.photoURL ?? '../../../assets/face-7.jpg'" />
          {{ user.displayName }}
          <mat-icon>expand_more</mat-icon>
        </button></ng-container>
      <ng-template #loginButton>
        <button mat-button routerLink="login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>


    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>