.landing {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    z-index: 999;
}

button {
    margin-bottom: 40px;
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
}

h1 {
    z-index: 999;
    font-size: 30px;
    font-weight: 500;
}

mat-icon {
    font-size: 85px;
    width: 85px;
    height: 85px;
}

.active {
    background-color: blue;
}

:host ::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: #ea203a !important;
}

:host ::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #ea203a !important;
}

:host ::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: #ea203a !important;
}

:host ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #ea203a;
}